// Mobile: No Queries
.hero-section-two-container {
    padding: 0 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;

    .get-money-section-container {
        width: 100%;

        background-image: url("/public/images/homePage/hero-section-2-updated.png");
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        margin-top: 24px;
        background-size: contain;
        background-position: 0 0;

        .content-container {
            max-width: 515px;
            padding-top: 150px;
            padding-bottom: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .body-text {
            margin-top: 12px;
        }

        .money-action-button {
            margin-top: 24px;
        }
    }
}

// Tablet and bigger:
@media (min-width: 760px) {
    .hero-section-two-container {
        padding: 0 32px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: white;
        margin: 0;

        .get-money-section-container {
            width: 100%;

            background-image: url("/public/images/homePage/hero-section-2-updated.png");
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            margin-top: 40px;
            background-size: contain;
            background-position: 0 0;

            .content-container {
                max-width: 515px;
                padding-top: 300px;
                padding-bottom: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .body-text {
                margin-top: 32px;

            }

            .money-action-button {
                margin-top: 32px;
            }
        }
    }
}

// laptop and bigger:
@media (min-width: 1024px) {
    .hero-section-two-container {
        padding-top: 60px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: white;

        .get-money-section-container {
            width: 100%;

            background-image: url("/public/images/homePage/hero-section-2-updated.png");
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            margin-top: 60px;
            background-size: contain;
            // background-position: bottom;
            background-position: 50% 120px;

            .content-container {
                max-width: 565px;
                // max-width: 450px;
             
                // padding-top: 265px;
                padding-top: 0px;
                padding-bottom: 76px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }

            .body-text {
                margin-top: 250px;

            }
        }
    }
}
